:root {
  --blue: #97d9fb;
  --light-blue: #c7e5f0;
  --gradient: linear-gradient(90deg, var(--blue), var(--light-blue));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

*::selection {
  background: var(--light-blue);
  color: #fff;
}

body {
  background: #f9f9f9;
}

section {
  min-height: 90vh;
  padding: 2rem 1rem 0rem 2rem;
  margin-left: 0;
  margin-right: 0;
}

#btn {
  display: inline-block;
  max-width: 200px;
  height: 50px;
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  background: var(--gradient);
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

#btn:hover {
  transform: scale(1.1);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 0;
}

.home .image img {
  width: 35vw;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.home .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content span {
  color: #000;
  text-transform: uppercase;
}
.home .content span:hover {
  color: var(--blue);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.5em;
  color: #1b1b1b;
  padding: 1rem 0;
}
