#request {
  background-color: #c7e5f0;
  border-color: #0a58ca;
  border: none;
  max-width: 10rem;
  width: 70%;
  max-height: 50px;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;

  float: right;
}
#send {
  background-color: #c7e5f0;
  border-color: #0a58ca;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  width: 120px;
  height: 40px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
}
#cancle {
  background-color: #dbd9d5;
  border-color: black;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: inline-block;
}
#cancle:hover {
  background-color: #afacaa;
  border-color: black;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: inline-block;
}
#send:hover {
  background-color: #97d9fb;
  border-color: #0a58ca;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: inline-block;
}
