#box-resno {
  background-color: #c7e5f0;
  text-align: center;
}
#card {
  margin-left: 30px;
  margin-bottom: 30px;
}
#cardheader {
  background-color: #c7e5f0;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}

#cardtext {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}
#cardbody {
  width: 300px;
  height: 100px;
}

#cardheadernores {
  background-color: #dc3545;

  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
#cardheaderres {
  background-color: #198754;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
#cardheaderroom {
  background-color: #ffc107;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
#cardheaderrescount {
  background-color: #0dcaf0;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
#cardheadercomplain {
  background-color: orange;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
