#box-resno {
  background-color: #c7e5f0;
  text-align: center;
}
#card {
  margin-left: 30px;
  margin-bottom: 30px;
}
#cardheader {
  background-color: #c7e5f0;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}

#cardtext {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}
#cardbody {
  width: 300px;
  height: 100px;
}
#roomimg {
  width: 3em;
}
#cardheadernores {
  background-color: #d45113;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
#cardheaderres {
  background-color: #95b94f;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
#cardheaderroom {
  background-color: #efcf63;
  font-weight: bold;
  width: 330px;
  height: 70px;
  text-align: center;
  padding: 20px;
}
