/* * {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #97d9fb;
  justify-content: space-between;
  height: 60px;
  padding: 0;
  margin: 0;
}
nav .nav-link h2 {
  color: #000;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
}
nav a.nav-link h2:hover {
  color: blue;
}
nav a.nav-link {
  font-size: 16px;
  margin-left: 1em;
  z-index: 1001;
}
nav a.nav-link:hover {
  font-size: 16px;
  margin-left: 1em;
  color: blue;
}
a {
  border-style: none;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  line-height: 24px;
  list-style: none;
}

a:hover {
  color: #0a58ca;
}

a.nav-link:hover {
  color: blue;
} */

/* nav a.nav-link {
  color: firebrick;
  font-size: 1em;
} 
/* AdminNav */
@media screen and (max-width: 1480px) {
  nav {
    display: flex;
    height: 70px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    flex-wrap: wrap;
  }
  div.logo a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
  }

  div.logo a:hover {
    color: #97d9fb;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  nav .logo img {
    max-width: 2rem;
    margin-left: 10px;
    padding: 0;
    margin-top: 0;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li {
    margin: 1.5em 2px 2px 2px;
  }
  nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding: 1rem 1rem;
    transition: all 0.3s ease;
  }

  nav ul li span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    color: #97d9fb;
    font-weight: normal;
  }

  nav ul li button {
    margin-left: 1vw;
    margin-right: 0.5vw;
  }

  button.btn#logout-button {
    background-color: transparent;
    border-color: #97d9fb;
  }

  button.btn#logout-button:hover {
    background-color: #97d9fb;
    color: #1b1b1b;
    border-color: none;
  }

  nav ul li a.active,
  nav ul li a:hover {
    color: #97d9fb;
    background: none;
  }
  nav .menu-btn i {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  input[type='checkbox'] {
    display: none;
  }
}

@media (max-width: 1440px) {
  nav {
    padding: 0 1em 0 2em;
  }
  nav .logo {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav .logo img {
    max-width: 2rem;
    margin-left: auto;
  }
  nav ul li {
    margin-top: 1em;
    margin-left: 0;
    padding-top: 0rem;
  }
}

@media (max-width: 1086px) {
  nav div.logo a {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  nav div.logo.title a {
    color: #97d9fb;
  }

  nav .logo img {
    max-width: 3rem;
    margin-left: auto;
  }
  nav .menu-btn i {
    display: block;
    z-index: 1000;
  }

  #click:checked ~ .menu-btn i:before {
    content: '\f00d';
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 2;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 1em;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    padding: 1em;
  }

  nav ul li button {
    margin-left: 1vw;
    margin-right: 0.5vw;
  }

  button.btn#logout-button {
    background-color: transparent;
    margin-top: 2vh;
    max-width: 10em;
    width: 100%;
  }

  button.btn#logout-button:hover {
    background-color: #97d9fb;
    color: #1b1b1b;
    border-color: none;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #97d9fb;
  }
}
