#navbar1 {
  background-color: #97d9fb;
}
#title2 {
  color: #1b1b1b;
  font-size: 18px;
  line-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
#title1 {
  color: #1b1b1b;
  font-size: 27px;
  line-height: 40px;
  padding-left: 60px;
  font-weight: bolder;
}
#titlelink {
  color: #1b1b1b;
  font-size: 16px;
  line-height: 40px;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 8px;
}
