nav {
  background-color: #97d9fb;
  height: 50px;
}
.navbar-brand {
  color: #000;
  font-weight: bolder;
  margin-right: 40%;
  margin-left: 5%;
}
li.nav-item {
  margin-left: 50px;
}
.nav-link {
  color: #000;
  font-size: 20px;
}
.nav-link:hover {
  color: #33e8ff;
}
.nav-link:active {
  color: #33e8ff;
}
img {
  width: 30px;
  margin-left: 10%;
}
