#navbar {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1.5em;
  flex-wrap: wrap;
}

#navbar .logo a {
  color: #fff;
  text-transform: uppercase;
  justify-self: start;
  margin-left: 1em;
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
  font-weight: normal;
}

#navbar .logo a:hover {
  color: #97d9fb;
  text-transform: uppercase;
  justify-self: start;
  margin-left: 1em;
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
}
