nav {
  background-color: #212121;
  height: 60px;
}
.navbar-brand {
  color: #fff;
  font-weight: bolder;
  margin-right: 30%;
  margin-left: 5%;
  font-size: 1.5rem;
}
button.navbar-toggler {
  margin-right: 0;
}
li.nav-item {
  margin-left: 30px;
  margin-right: 20px;
}
.nav-link {
  color: #fff;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.nav-link:hover {
  color: #4d5784;
}
.nav-link:active {
  color: #33e8ff;
}
img {
  width: 30px;
  margin-left: 10%;
}
.fas.fa-bars {
  color: aliceblue;
  width: 35px;
  height: 30px;
}
