button#btn-save.btn.btn-primary {
  -webkit-appearance: button;
  background-color: #c7e5f0;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 15rem;
  width: 100%;
  max-height: 50px;
  height: 100%;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  word-wrap: break-word;
  box-shadow: 0px 4px 4px 0px #00000040;
  justify-items: center;
}

button#btn-save.btn.btn-primary:hover {
  background-color: #97d9fb;
  border-color: #0a58ca;
}

button#btn-save.btn.btn-primary:focus {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: rgba(55, 58, 63, 0.5) 0 0 0 0.25rem;
  outline: 0;
}

button#btn-save.btn.btn-primary:disabled {
  opacity: 0.65;
  pointer-events: none;
}

button#btn-save.btn.btn-primary:active {
  background-color: #0a58ca;
  border-color: #0a53be;
}

button#btn-save.btn.btn-primary:active:focus {
  box-shadow: rgba(49, 132, 253, 0.5) 0 0 0 0.25rem;
}
