@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

/* .btn-google {
  color: white !important;
  background-color: #ea4335;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
*/
