* {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

h1 {
  text-align: center;
  padding-top: 3%;
}

#btn-selectrole {
  background-color: #c7e5f0;
  border-color: none;
  border: none;
  max-width: 20rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#btn-selectrole:hover {
  background-color: #97d9fb;
  border-color: none;
  border: none;
  max-width: 20rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#btn-select:hover {
  background-color: #97d9fb;
  border: none;
}

#checkbox,
input[type='checkbox']:checked {
  display: inline;
  margin-right: 10%;
}

#btn-back {
  background-color: #dbd9d5;
  border-color: black;
  border: none;
  max-width: 20rem;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: inline-block;
}
#btn-back:hover {
  background-color: #afacaa;
  border-color: black;
  border: none;
  max-width: 20rem;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
}
input:checked + label {
  color: rgb(85, 146, 85);
}

#btn-add {
  background-color: #c7e5f0;
  border-color: #0a58ca;
  border: none;
  max-width: 20rem;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: auto;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;

  float: right;
}
#btn-add:hover {
  background-color: #97d9fb;
  border-color: #0a58ca;
  border: none;
  max-width: 20rem;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: auto;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  float: right;
}
